# Method Access

public net.minecraft.world.level.block.BaseEntityBlock m_152132_(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityTicker;)Lnet/minecraft/world/level/block/entity/BlockEntityTicker; # createTickerHelper
public net.minecraft.world.entity.Entity f_19839_ # portalCooldown
public net.minecraft.world.level.block.BubbleColumnBlock m_152715_(Lnet/minecraft/world/level/block/state/BlockState;)Z # canExistIn
public net.minecraft.world.level.block.BubbleColumnBlock m_152717_(Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/block/state/BlockState; # getColumnState
public net.minecraft.world.entity.Entity m_20305_()Z # isInBubbleColumn
public net.minecraft.world.entity.LivingEntity m_7302_(I)I # decreaseAirSupply
public net.minecraft.world.entity.animal.IronGolem m_7302_(I)I # decreaseAirSupply, required for LivingEntity
public net.minecraft.world.entity.LivingEntity m_7305_(I)I # increaseAirSupply
public net.minecraft.world.entity.animal.Dolphin m_7305_(I)I # increaseAirSupply, required for LivingEntity