# Method Access

public net.minecraft.client.gui.components.AbstractSliderButton canChangeValue # canChangeValue

public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider

public net.minecraft.world.entity.Entity isInBubbleColumn()Z # isInBubbleColumn
public net.minecraft.world.entity.Entity portalCooldown # portalCooldown
public net.minecraft.world.entity.LivingEntity decreaseAirSupply(I)I # decreaseAirSupply
public net.minecraft.world.entity.LivingEntity increaseAirSupply(I)I # increaseAirSupply
public net.minecraft.world.entity.animal.Dolphin increaseAirSupply(I)I # increaseAirSupply, required for LivingEntity
public net.minecraft.world.entity.animal.IronGolem decreaseAirSupply(I)I # decreaseAirSupply, required for LivingEntity

public net.minecraft.world.level.block.BaseEntityBlock createTickerHelper(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityTicker;)Lnet/minecraft/world/level/block/entity/BlockEntityTicker; # createTickerHelper
public net.minecraft.world.level.block.BubbleColumnBlock canExistIn(Lnet/minecraft/world/level/block/state/BlockState;)Z # canExistIn
public net.minecraft.world.level.block.BubbleColumnBlock getColumnState(Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/block/state/BlockState; # getColumnState
public net.minecraft.world.level.block.TrapDoorBlock getType()Lnet/minecraft/world/level/block/state/properties/BlockSetType; # getType
public net.minecraft.world.level.block.ButtonBlock ticksToStayPressed # ticksToStayPressed

public net.minecraft.world.entity.monster.Shulker isClosed()Z # isClosed

public net.minecraft.world.item.BoatItem hasChest # hasChest
public net.minecraft.world.item.BoatItem type # type
public net.minecraft.world.item.MinecartItem type # type